.todos-footer {
    display: flex;
    font-size: 12px;
    padding: 10px 0;

    .counter {
        display: inline-flex;
        flex: 1;
        padding: 10px 15px 10px 5px;
        justify-content: left;
    }

    .options {
        display: inline-flex;
        flex: 1;

        .selectAll, .selectActive, .selectCompleted {
            padding: 10px;
            cursor: pointer;
            display: inline-flex;
            flex: 1;
            margin: 0 5px;
            justify-content: center;

            &.active {
                border: 1px solid #fff;
            }
        }
    }

    .clearCompleted {
        display: inline-flex;
        flex: 1;
        padding: 10px 5px 10px 15px;
        justify-content: right;
        cursor: pointer;
    }
}